<nav class="navbar navbar-inverse navbar-fixed-top">
  <div id="header-color-line">

  </div>
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Bottest</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><%= link_to "Web Tests",test_suits_path %></li>
      <li><a href="#">Mobie Tests</a></li>
      <li><a href="#">Results</a></li>
      <li><a href="#">Scheduler</a></li>
      <li><a href="#">Documents</a></li>
      <li><a href="#">Activity</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <% if current_user %>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown"><%= gravatar_for current_user %></a>
          <ul class="dropdown-menu">
            <li><a href="#">Settings</a></li>
            <li><a href="#">Something else here</a></li>
            <li><a href="#">Separated link</a></li>
            <li><%= link_to "Log out", logout_path, method: :delete %></li>
          </ul>
        </li>
      <% else %>
        <li><%= link_to "Sign up", new_user_path, class: "glyphicon glyphicon-user" %></li>
        <li><%= link_to "Login", login_path, class: "glyphicon glyphicon-log-in"%></li>
      <% end %>
    </ul>
  </div>
</nav>
