<div class="btn-action">
  <%= link_to "", edit_test_suit_path(id: @test_suit_id), class: "btn-back btn-icon", "data-toggle" => "tooltip", title: "Back" %>
  <%= link_to "",'', class: "btn-save-test-script btn-save btn-icon save-test-script", "data-toggle" => "tooltip", title: "Save Test Case" %>

  <div class="btn-add btn-icon btn-add-step" data-toggle="tooltip" title="Add Step"></div>
</div>
<div class="row">
<%= form_tag do %>
  <div class="col-md-2 col-sm-4 label-test-suit">
    <%= label_tag "Test Case Name" %>
  </div>
  <div class="col-md-4 col-sm-6 input-test-suite">
    <%= text_field_tag :name, @test_case[0]["name"],class: "form-control" %>
  </div>
<% end %>
</div>

<li class="head-step">
  <div class="col-md-10"><p>Steps</p></div>
  <div class="action-icon">
    <ul>
      <li>Move</li>
      <li>Remove</li>
    </ul>
  </div>
</li>
<%= @action %>
<ul data-behavior="list-users" class="list-step">
  <% @test_scripts.each_with_index do |ts, index| %>
    <li class="item-step ui-sortable-handle" id="item-step_<%= index %>">
      <%= render "row_step", test_script: ts %>  
    </li>
  <% end %>
</ul>
<div class="row">
  <button type="button" class="btn-add-step btn btn-primary">Add Step</button>
  <%= link_to "Save Steps", "",:class =>"btn-save-test-script btn btn-info" %>
</div>