<%= form_for @test_suit, url: test_suit_path, method: :patch do |f| %>
  <div class="btn-action">
    <%= link_to "", test_suits_path, class: "btn-back btn-icon", "data-toggle" => "tooltip", title: "Back" %>
    <%= f.submit "", class: "btn-save btn-icon", "data-toggle" => "tooltip", title: "Save Test Suit" %>
    <%= link_to "", new_test_suit_test_case_path(@test_suit), class: "btn-add btn-icon", "data-toggle" => "tooltip", title: "Add Test Case" %>
    <%= link_to "", "#", class: "btn-share btn-icon", "data-toggle" => "tooltip", title: "Share Test Case" %>
    <%= link_to "", "#", class: "btn-notification btn-icon", "data-toggle" => "tooltip", title: "Notifications" %>
  </div>
  <div class="row mg-20">
    <div class="col-md-2 col-sm-4 label-test-suit">
      <%= f.label "Test Suit Name" %>
    </div>
    <div class="col-md-4 col-sm-6 input-test-suite">
      <%= f.text_field :name, class: "form-control" %>
      <%= f.hidden_field :id %>
    </div>

  </div>
<% end %>
<table class="table table-hover">
  <thead>
    <tr>
      <th>Test Cases</th>
      <th class="th-icon">Edit</th>
      <th class="th-icon">Status</th>
      <th class="th-icon">Export</th>
      <th class="th-icon">Duplicate</th>
      <th class="th-icon">Delete</th>
    </tr>
  </thead>
  <tbody>
    <% @test_cases.reverse.each do |t_case| %>
      <tr>
        <td><span class="icon-file"></span><%= link_to t_case.name, edit_test_suit_test_case_path(@test_suit, t_case) %></td>
        <td class="icon-action"><%= link_to "", edit_test_suit_test_case_path(@test_suit, t_case), class: "glyphicon glyphicon-pencil" %></td>
        <% if t_case.status == "Commited" %>
         <td class="icon-action"><span class="label label-success">
        <% else %>
          <td class="icon-action"><span class="label label-primary">
        <% end %>
        <%= t_case.status %></span></td>
        <td class="icon-action"><%= link_to "", "#", class: "glyphicon glyphicon-save" %></td>
        <td class="icon-action"><%= link_to "", "#", class: "fa fa-clone" %></td>
        <td class="icon-action"><%= link_to "", test_suit_test_case_path(@test_suit, t_case), method: :delete, data: {confirm: "Are you sure?" }, remote: true, class: "glyphicon glyphicon-trash" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<div class="center"><button data-toggle="modal" data-target="#squarespaceModal" class="btn btn-primary center-block btn-commit">Commit TestCase</button></div>

<div class="modal fade" id="squarespaceModal" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
  <div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
      <h4 class="modal-title" id="lineModalLabel">List Test Case Change</h4>
      <p></p>
    </div>
    <div class="modal-body">
      <form>
        <div class="form-group">
          <ul class="item-case-change"></ul>
        </div>
        <div class="form-group">
          <label for="exampleInputEmail1" class="label-commit">Commit: </label>
          <input type="text" class="form-control" id="contentCommit" placeholder="ex: Just change test_case">
        </div>
      </form>

    </div>
    <div class="modal-footer">
      <div class="btn-group btn-group-justified" role="group" aria-label="group button">
        <div class="btn-group" role="group">
          <button type="button" class="btn btn-default" data-dismiss="modal"  role="button">Close</button>
        </div>
        <div class="btn-group" role="group">
          <button type="button" id="saveImage" class="btn btn-default btn-save-commit btn-hover-green" data-action="save" role="button">Commit</button>
        </div>
      </div>
    </div>
  </div>
  </div>
</div>

<script>
  $(document).ready(function() {
    $('.btn-commit').click(function(event) {
      /* Act on the event */
      $("#contentCommit").attr('placeholder', 'ex: Just change test_case');
      $('.btn-save-commit').removeAttr('disabled', 'disabled');
      $('.label-commit').css('color', 'black');
      $.ajax({
        url: '/test_suits/get_test_case_change',
        type: 'GET',
        data: {test_suit_id: $('#test_suit_id').val()},
        success: function(data){
          var ul_tc = $('.item-case-change');
          $(ul_tc).empty();
          if(data.length == 0){
            $(ul_tc).append('<p>Nothing changed</p>');
            $('.btn-save-commit').attr('disabled', 'disabled');
          }else{
            $('.badge').remove();
            $('#lineModalLabel').append("<span class='badge number-item'>" + data.length + "</span>");
            data.forEach(function(item){
              var li = $("<li class='item-tc'></li>");
              $(li).attr('id-item', item["id"]);
              // var text = document.create
              var span = $("<span class='glyphicon glyphicon-file' aria-hidden='true'></span>");

              $(li).append(span);
              $(li).append(item["name"]);
              $(li).append("<span class='glyphicon glyphicon-trash trash-float-right' aria-hidden='true'></span>")
              ul_tc.append(li);
            })
          }
        }
      });
    });
    $('.btn-save-commit').click(function(event) {
      var content = $("#contentCommit").val();
      if(content == ""){
        $("#contentCommit").attr('placeholder', 'Please leave a commit messages!!');
        $('.label-commit').css('color', 'red');
      }else{
        var listTestCaseChange = $('.item-tc');
        var testCases = [];
        for(var i=0; i<listTestCaseChange.length; i++){
          var tc = {};
          tc["name"] = $(listTestCaseChange[i]).text();
          tc["id"] = $(listTestCaseChange[i]).attr('id-item');
          testCases.push(tc);
          console.log(tc);
        }
        $.ajax({
          url: '/commit',
          type: 'GET',
          data: {
            test_cases: JSON.stringify(testCases),
            test_suit: gon.test_suit,
            content_commit: content
          },
          success: function(data){
            location.reload();
            toastr.success(data);
          }
        })
      }
    });
    $('body').on('click', '.trash-float-right', function(event){
      var currentItem = $('.number-item').text();
      var remainItem = parseInt(currentItem) - 1;
      $('.number-item').text(remainItem);
      $(this).parent().remove();
      if(remainItem < 1){
        $('.item-case-change').append('<p>Nothing changed</p>');
        $('.btn-save-commit').attr('disabled', 'disabled');
      }
    });
  });
</script>
