<%= form_for @test_suit, url: test_suit_path, method: :patch do |f| %>
  <div class="btn-action">
    <%= link_to "", url_for(:back), class: "btn-back btn-icon", "data-toggle" => "tooltip", title: "Back" %>
    <%= f.submit "", class: "btn-save btn-icon", "data-toggle" => "tooltip", title: "Save Test Suit" %>
    <%= link_to "", new_test_suit_test_case_path(@test_suit), class: "btn-add btn-icon", "data-toggle" => "tooltip", title: "Add Test Case" %>
    <%= link_to "", "#", class: "btn-share btn-icon", "data-toggle" => "tooltip", title: "Share Test Case" %>
    <%= link_to "", "#", class: "btn-notification btn-icon", "data-toggle" => "tooltip", title: "Notifications" %>
  </div>
  <div class="row">
    <div class="col-md-2 col-sm-4 label-test-suit">
      <%= f.label "Test Suit Name" %>
    </div>
    <div class="col-md-4 col-sm-6 input-test-suite">
      <%= f.text_field :name, class: "form-control"%>
    </div>
  </div>
<% end %>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Test Cases</th>
      <th>Edit</th>
      <th>Run</th>
      <th>Export</th>
      <th>Duplicate</th>
      <th>Delete</th>
    </tr>
  </thead>
  <tbody>

  </tbody>
</table>
