<div class="add-folder-img">
  <%= link_to image_tag("icon-add-folder"), new_test_suit_path %>
</div>
<table class="table table-hover">
  <thead>
    <tr>
      <th>Web Test Suites</th>
      <th>Edit</th>
      <th>Run</th>
      <th>Export</th>
      <th>Duplicate</th>
      <th>Delete</th>
    </tr>
  </thead>
  <tbody>
    <% if @test_suit_of_user.any? %>
      <% @test_suit_of_user.each do |t_suite| %>
        <tr>
          <td><span class="icon-folder"></span><%= link_to t_suite["name"], edit_test_suit_path(id: t_suite["id"]) %></td>
          <td><%= link_to "", edit_test_suit_path(id: t_suite["id"]), class: "glyphicon glyphicon-pencil" %></td>
          <td><%= link_to "", "#", class: "glyphicon glyphicon-play" %></td>
          <td><%= link_to "", "#", class: "glyphicon glyphicon-save" %></td>
          <td><%= link_to "", "#", class: "fa fa-clone" %></td>
          <td><%= link_to "", test_suit_path(id: t_suite["id"]), method: :delete, data: {confirm: "Are you sure?" }, remote: true, class: "glyphicon glyphicon-trash" %></td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>
