<!DOCTYPE html>
<html>
  <head>
    <title>Endtest</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= include_gon %>
  </head>

  <body>
    <%= render "shared/header" %>
    <div class="container">
      <div class="main">
        <select name="state[]" id="simple-example" multiple="multiple">
          <option value="HL">Sai Gon</option>
          <option value="ML">Quang Tri</option>
          <option value="ML">Da Nang</option>
          <option value="ML">Khanh Hoa</option>
          <option value="ML">Hue</option>
        </select>
        <div class="btn btn-primary">asdsd</div>
        <%= yield %>
      </div>
    </div>
    <%= render "shared/footer" %>
  </body>
</html>
